# Gradle local cache (DO NOT COMMIT)
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse (if ever used)
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
.junie
.env